In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('productanalyst_assignmentdata.csv')

In [8]:
df.dtypes

shop_date       object
lodging_name    object
market          object
num_guests       int64
check_in        object
check_out       object
advance          int64
los              int64
hopper_price    object
competitor_1    object
competitor_2    object
competitor_3    object
competitor_4    object
dtype: object

In [9]:
df.head(5)

,shop_date,lodging_name,market,num_guests,check_in,check_out,advance,los,hopper_price,competitor_1,competitor_2,competitor_3,competitor_4
0,12/19/2022,Hotel 19,Atlanta,2,12/19,12/20,0,1,73,118,101,118,118
1,12/19/2022,Hotel 19,Atlanta,2,12/22,12/23,3,1,85,120,113,120,132
2,12/19/2022,Hotel 19,Atlanta,2,12/19,12/23,0,4,418,477,439,477,515
3,12/19/2022,Hotel 19,Atlanta,2,12/22,12/26,3,4,466,531,501,531,588
4,12/19/2022,Hotel 19,Atlanta,2,12/19,12/25,0,6,618,717,665,717,780

In [12]:
df = df.replace({'Sold Out': 0, 'Sold out': 0})
df['hopper_price'] = df['hopper_price'].astype(int)
df[['competitor_1','competitor_2', 'competitor_3', 'competitor_4']] = \
df[['competitor_1','competitor_2', 'competitor_3', 'competitor_4']].astype(int)
df['lowest_competitor_price'] = df[['competitor_1','competitor_2', 'competitor_3', 'competitor_4']].min(axis=1)
df['highest_competitor_price'] = df[['competitor_1','competitor_2', 'competitor_3', 'competitor_4']].max(axis=1)
df['lowest_delta_competitor_price'] =  df['lowest_competitor_price'] - df['hopper_price']
df['highest_delta_competitor_price'] = df['highest_competitor_price'] - df['hopper_price']

In [13]:
df.head(5)

,shop_date,lodging_name,market,num_guests,check_in,check_out,advance,los,hopper_price,competitor_1,competitor_2,competitor_3,competitor_4,lowest_competitor_price,highest_competitor_price,highest_delta_competitor_price,lowest_delta_competitor_price
0,12/19/2022,Hotel 19,Atlanta,2,12/19,12/20,0,1,73,118,101,118,118,101,118,45,28
1,12/19/2022,Hotel 19,Atlanta,2,12/22,12/23,3,1,85,120,113,120,132,113,132,47,28
2,12/19/2022,Hotel 19,Atlanta,2,12/19,12/23,0,4,418,477,439,477,515,439,515,97,21
3,12/19/2022,Hotel 19,Atlanta,2,12/22,12/26,3,4,466,531,501,531,588,501,588,122,35
4,12/19/2022,Hotel 19,Atlanta,2,12/19,12/25,0,6,618,717,665,717,780,665,780,162,47

In [27]:
df['market'].unique()

array(['Atlanta', 'Austin', 'Boston', 'Cancun', 'Charlotte', 'Chicago',
       'Dallas', 'Denver', 'Fort Lauderdale', 'Honolulu', 'Houston',
       'Las Vegas', 'Los Angeles', 'Miami', 'Nashville', 'New Orleans',
       'New York', 'Orlando', 'Phoenix', 'Portland', 'San Francisco',
       'Seattle', 'Tampa', 'Temecula', 'Washington'], dtype=object)

In [28]:
len(df['market'].unique())

25

In [17]:
df.groupby(['los'])[['lowest_delta_competitor_price']].mean().reset_index().head(75)

   los  lowest_delta_competitor_price
0    1                       5.686064
1    4                     -36.340512
2    6                     -80.832652